body{
    background-color: #283149;
    color: #DBEDF3;
    font-family: 'Karla', sans-serif;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
} 

    /* <h1> visible on the top of the site */
#title{
    font-size: 3.65rem;
    text-shadow: 3px 0 #DA0463; /* zmienić na: #df4c50 */
}

    /* sounds btns assigned to the proper imgs */
.q{
    background-image: url("../images/tom1.png");
  
}
.w{
    background-image: url("../images/tom2.png");
}
.e{
    background-image: url("../images/tom3.png");
}
.r{
    background-image: url("../images/tom4.png");
}
.t{
    background-image: url("../images/snare.png");
}
.y{
    background-image: url("../images/crash.png");
}
.u{
    background-image: url("../images/kick.png");
}

    /* drum sound btns' container */
.drum-container{
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-top: 11%;
}

    /* drum sound btns */
.drum-button{
    background-color: #fff;
    border: 5px solid;
    border-radius: 15px;
    color: #DA0463;
    display: inline-block;
    flex: 0 1 140px;
    font-family: 'Karla', sans-serif;
    font-size: 4rem;
    font-weight: 700;
    height: 150px;
    line-height: 2;
    margin: 10px;
    outline: none;
    text-align: center;
}

    /* btns' pressing animation */
.pressed{
    box-shadow: 0 3px 4px 0 #DBEDF3;
    opacity: 0.5;
}

footer{
    bottom: 20px;
    left: 0;
    right: 0;
    position: absolute;
}

a:hover, a:active, a:focus, a:link, a:visited{
    color: #DA0463;
    cursor: pointer;
}

    /* styling the footer <p> */
.p-footer{
     margin: 4px 0 0;
}
