    /* up to 343px small devices responsiveness (width) for better UE */
@media (max-width: 343px) {
    
    #title{
        font-size: 3.8rem;
    }
  
    .drum-container{
        margin: 5px 0 20px;
    }
    
}
  
  
    /* 160px-517px (width) devices responsiveness */
@media (min-width: 160px) and (max-width: 517px) {
   
    #title{
        margin: 0;
    }
  
    .drum-container{
        margin: 25px 0 40px;
    }
  
}
  

    /* 518px-691px (width) devices responsiveness */
@media (min-width: 518px) and (max-width: 691px) {
    
    #title{
        margin: 25px 0 0;
    }
  
    .drum-container{
        margin: 75px 0 100px
    }
  
}
  
  
    /* 692px-865px (width) devices responsiveness */
@media (min-width: 692px) and (max-width: 865px) {
    
    #title{
        margin: 50px 0 0;
    }
  
    .drum-container{
        margin: 100px 0 220px
    }
  
}
  
  
    /* 866px-1039px (width) & 870px-above (height) devices responsiveness */
@media (min-width: 866px) and (max-width: 1039px) and (min-height: 870px) {
  
    #title{
        margin: 60px 0 0;
   }
  
   .drum-container{
       margin: 120px 0 185px;
   }
  
}
  
  
    /* 1040px-1212px (width) devices responsiveness */
@media (min-width: 1040px) and (max-width: 1212px) {
   
    #title{
        margin: 60px 0 0;
    }
  
    .drum-container{
        margin: 125px 0 179px;
    }
  
}
  
  
/* 1213px and above (width) devices responsiveness */
    @media (min-width: 1213px) {
    
    #title{
        margin: 60px 0 0;
    }
  
    .drum-container{
        margin: 160px 0 280px;
    }
  
}
  
  
    /* horizontal-centered phones responsiveness (height) */
@media (max-height: 530px) {
  
    #title{
        margin: 8px 0 0;
    }
  
    .drum-container{
        margin: 25px 0 55px /* 74px */;
    }
  
}
  
  
    /* Surface Duo & simillar devices responsiveness (width & height) */
@media (min-width: 518px) and (max-width: 610px) and (min-height: 690px) and (max-height: 730px) {
  
    #title{
        margin: 10px 0 0;
    }
  
    .drum-container{
        margin: 35px 0 50px;
    }
  
}
  
  
    /* iPad & simillar devices responsiveness (width & height) */
@media (min-width: 740px) and (max-width: 790px) and (min-height: 1000px) and (max-height: 1070px ) {
  
    #title{
        margin: 80px 0;
    }
  
    .drum-container{
        margin: 100px 0 150px;
    }
  
}
  
  
    /* iPad Pro & simillar devices responsiveness (width & height) */
@media (min-width: 980px) and (max-width: 1070px) and (min-height: 1310px) and (max-height: 1390px) {
  
    #title{
        margin: 150px 0 0;
    }
  
    .drum-container{
        margin: 170px 0 220px;
    }
  
}